<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql.c1oi1m3fyohy.ap-southeast-2.rds.amazonaws.com/dynamictrust</property>
        <property name="hibernate.connection.username">yangyi0318</property>
        <property name="hibernate.connection.password">19890318</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>        
        <mapping class="nz.ac.aut.sa.services.domain.impl.Buyer"/>
        <mapping class="nz.ac.aut.sa.services.domain.impl.Seller"/>
        <mapping class="nz.ac.aut.sa.services.domain.impl.ProductImpl"/>
    </session-factory>
</hibernate-configuration>
